{# @EilingIoSyliusBatteryIncludedPlugin/shop/header/_searchbox.html.twig #}

<div class="col-auto d-none d-md-block ms-2 me-auto">
    <div style="width: 750px;">
        <form action="{{ path('eiling_io_sylius_battery_included_search') }}" method="get">
            <div class="input-group input-group-sm">
                <input type="text"
                       name="criteria[search][value]"
                       class="form-control border-secondary"
                       placeholder="Produkte suchen..."
                       aria-label="Suchen">

                <button class="btn btn-primary px-3" type="submit">
                    <i class="bi bi-search text-white"></i>
                    <span class="d-none d-lg-inline ms-1 text-white fw-medium">Suchen</span>
                </button>
            </div>
        </form>
    </div>
</div>

<style>
    .row.align-items-center > .col:first-child {
        flex: 0 0 auto !important;
        width: auto !important;
    }
</style>